/*order section css start here */
section.custom-order {
    background-image: url('/src/Img/delicious-bg.png');
    background-size: cover;
    background-position: center;
}
.delecious {
    display: block;
    padding: 50px 0px;
    max-width: 1140px;
}


/* deal section css start here */
section.deal-section {
    background-image: url('/src/Img/deal-bg.png');
    background-size: cover;
    background-position: center;
}

span.done {
    color: #642E00;
}

li.left {
    list-style: none;
    position: absolute;
    top: 48%;
    left: -8%;
    border: 1px solid;
    padding: 6px 10px;
    border-radius: 27px;
}

.positions {
    position: relative;
}

li.right {
    list-style: none;
    position: absolute;
    top: 48%;
    right: -8%;
    border: 1px solid;
    padding: 6px 10px;
    border-radius: 27px;
    font-weight: 200;
}

.contents {
    padding: 23px 34px 120px 34px;
}

.contentsz {
    float: right;
    width: 50%;
}

.discount,
.del-content-1,
.del-content-2,
.del-content-end {
    background-position: center;
    background-size: cover;
}

.discount {
    background-image: url('/src/Img/discountimg.png');
}

.del-content-1 {
    background-image: url('/src/Img/discount2.png');
}

.contentss {
    padding: 38px 42px;
}

.del-content-2 {
    background-image: url('/src/Img/discount3.png');
}

.del-content-end {
    background-image: url('/src/Img/discount4.png');
    padding: 61px 0px 61px 154px;
    display: block;
    float: right;
    width: 100%;
}

h4 {
    color: #0a0a0a;
    font-size: 37.83px;
    font-weight: bold;
}

span.salee {
    color: #FFF;
    font-size: 32.83px;
    font-weight: 400;
    line-height: normal;
}

a.order {
    padding: 10px;
    border-radius: 15px;
    border: 2px solid #FFF;
    text-decoration: none;
    color: #FFF;
    font-size: 18.83px;
    font-weight: 500;
}

h6.sale-off {
    color: #FFF;
    padding-bottom: 15px;
}

@media (min-width:768px) and (max-width:1024px) {

    section.custom-section.p-5 {
        padding: 20px 0 !important;
    }

    h4.off {
        font-size: 30.83px;
    }

    h6.sale-off {
        font-size: 28.83px;
    }

    .col-lg-6 .custom-bgg.relative {
        width: 100%;
    }

    .col-lg-6 .custom-about.d-flex.justify-content-center {
        width: 100%;
    }

    section.custom-section.p-5 .row .col-lg-4 {
        width: 100%;
        margin-bottom: 20px;
    }

    section.custom-section.p-5 .col-lg-8,
    section.custom-section .col-sm-6,
    section.custom-section .col.col-sm-12.col-xs-12.p-2.py-0 {
        padding: 0 !important;
        margin: 10px 0px;
    }
}

@media (max-width:767px) {

   h5.fs-5.fs-md-6 {
    font-size: 14px !important;
    margin: 0px;
}
    .element_img img {
        height: 160px;
        object-fit: cover;
    }
    h4 {
        font-size: 18px;
    }

    .col-lg-8 {
        padding: 0px;
    }

    section.custom-order.p-5 {
        padding: 0px !important;
    }

    .contentss {
        padding: 38px 7px;
    }


    section.custom-section.p-5 {
        padding: 10px 0px !important;
    }

    .col.col-sm-6.col-xs-6.md {
        width: 50%;
        padding: 10px 0px;
    }

    h6.sale-off {
        font-size: 25px;
    }

    .col.col-sm-12.col-xs-12.p-2.py-0 {
        padding: 0px !important;
    }

    a.order {
        font-size: 15px;
        padding: 8px 15px;
    }

    span.salee {
        font-size: 23.83px;
    }

    h4.off {
        font-size: 21.83px;
    }

    section.deal-section.p-5 {
        padding: 45px 4px !important;
    }

    .contents {
        padding: 7px 3px 44px 11px;
        min-height: 200px;
    }

    .del-content-end {
        padding: 61px 0px 19px 17px;
    }


    .contentsz {
        width: 56%;
    }

}

section.custom-section.p-5 h4 {
    color: #fff;
}

.row.md-gap.sm-gap {
    gap: 6px;
    justify-content: space-between;
}

@media(max-width:1144px) {
    section.custom-section.p-5 .row .col.col-sm-6 {
        width: 49%;
        margin: 0;
        padding: 0;
    }
  
    .top_element .col {
        padding: 0px !important;
    }
    


    section.custom-section.p-5 .row .col-lg-4 {
        width: 33.33%;
        width: 100%;
    }

    .del-content-end {
        margin: 9px 0px !important;
    }

    section.custom-section .col-lg-8 {
        width: 100% !important;
        margin: 10px 0 !important;
        padding: 0;
    }

    section.custom-section .col.col-sm-12.col-xs-12.p-2.py-0 {
        padding: 0 !important;
    }
}
@media(min-width:1024px) and (max-width:1140px){
    section.custom-section.p-5 {
        padding: 55px 15px !important;
    }
    ul.first-bold li:first-child {
        font-size: 22px;
    }
    .instamenu li img {
        max-width: 42px;
    }
}
@media(min-width:768px) and (max-width:992px){
    .order-form {
        width: 70%;
    }
}