@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body,
ul {
    padding: 0
}

a,
a.forgot {
    text-decoration: none
}

h2,
h3,
h5,
p {
    color: #000
}

body {
    overflow-x: hidden;
    font-family: Inter !important;
    margin: 0 auto;
    box-sizing: border-box
}

a {
    color: #fff;
    cursor: pointer
}

.copyright,
footer,
section {
    float: left;
    width: 100%
}

.float.insta-img .col-4.float {
    width: 33.333%
}

ul {
    margin: 0
}

p {
    font-size: 19.83px;
    font-weight: 400
}

.float-right {
    float: right
}

.flex_box,
.float,
.float.py-5 {
    float: left
}

h3 {
    font-size: 47px;
    font-weight: 700
}

button.addtocart-:hover {
    color: #fff;
    background: #d07d2c
}

ul li {
    list-style: none
}

.d-flex {
    display: flex !important;
    margin: 0
}

@media(min-width:1800px) and (max-width:2000px) {

    .container,
    .container-xxl,
    .contaner-lg {
        max-width: 1600px !important;
        margin: 0 auto
    }
}

input {
    outline: 0
}

h5.Popular img {
    max-width: 75px
}

section.login-section {
    background-image: url('./Img/loginbg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h2.text-center.login-heading {
    font-weight: 700;
    font-size: 36px
}

.login-form {
    max-width: 500px;
    background: #fff;
    padding: 42px;
    border-radius: 15px
}

.form-container label {
    width: 100%;
    text-transform: uppercase;
    color: #000;
    font-weight: 400;
    font-size: 18px;
    margin-top: 60px;
    padding: 17px 0
}

.form-container input[type=email],
.form-container input[type=password] {
    width: 100%;
    outline: 0;
    border-bottom: 2px solid !important;
    border: none
}

a.forgot {
    display: flex;
    justify-content: end;
    padding: 17px 0 67px
}

.form-container input[type=submit] {
    width: 100%;
    padding: 13px;
    background: rgba(255, 164, 29, .86);
    border-radius: 10px;
    border: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 25px
}

form ul.d-flex.justify-content-between {
    padding: 42px 0;
    text-transform: capitalize
}

.social-icons ul {
    gap: 52px;
    justify-content: center
}

.social-icons ul li {
    border: none;
    padding: 12px 16px;
    border-radius: 100%;
    background: #ffb03c;
    color: #fff
}

.social-icons ul li.second {
    background-color: #7b262b !important
}

.social-icons ul li.third {
    background-color: #1342e9 !important
}

.social-icons ul li.fourth {
    background-color: #a1754a !important
}

section.register-section {
    background-image: url('./Img/dealslider2.png');
    background-size: cover
}

.register-form h2 {
    color: #fff;
    text-shadow: 0 4px 4px rgba(0, 0, 0, .25);
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase
}

.register-form {
    background: #fd9d3e;
    margin: 0 auto;
    position: relative
}

.register-form input[type=email],
.register-form input[type=password],
.register-form input[type=submit],
.register-form input[type=text] {
    width: 100%;
    padding: 16px 24px;
    border-radius: 10px;
    border: 1px solid #fff;
    background: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .25);
    outline: 0;
    border: none;
    margin: 17px 0
}

.register-form form ul li {
    color: #fff;
    text-transform: capitalize;
    margin: 5px 3px 0;
    font-weight: 400;
    font-size: 18px
}

.register-form input.register-btn {
    background: #4f270b;
    color: #fff;
    font-weight: 700;
    font-size: 22px;
    padding: 12px;
    text-transform: uppercase
}

.register-form input[type=email]::placeholder,
.register-form input[type=password]::placeholder,
.register-form input[type=text]::placeholder {
    padding: 0 10px
}

.register-form input[type=text]::placeholder::before {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #000
}

@media(min-width:992px) and (max-width:1024px) {
    input.input {
        position: absolute;
        left: 94px
    }

}

@media (min-width:575px) and (max-width:768px) {
    section.custom-section.p-5 {
        padding: 0 !important
    }
    .shared_order .shared-products .col.menubar {
        flex-basis: 47% !important;
    }
    section.login-section.p-5 {
        padding: 40px 30px !important;
    }
    section.custom-section.p-5 .row .col-lg-4 {
        width: 100% !important
    }

    .delecious h2 {
        font-size: 36px
    }

    section.about-sec.py-5 .float .col-lg-6 {
        width: 100% !important;
        height: auto
    }

   

    ul.items li {
        font-size: 16.83px !important
    }

    .col-lg-6.float.custom-about.d-flex.justify-content-center {
        justify-content: start !important
    }

    .delecious p {
        font-size: 20px;
        padding-bottom: 10px
    }

    .d-flex {
        padding: 0
    }

    .mycontent .col-sm-6 {
        height: auto;
        width: 100%;
        background-position: left
    }

    .bg-sec {
        margin-top: -50px !important;
        padding: 100px 184px 100px 102px
    }

    .col-sm-6 {
        padding: 9px 3px
    }
}

.addproduct {
    background: #fff;
    padding: 38px;
    max-width: 900px;
    margin: 0 auto
}

.addproduct button.btn.btn-primary {
    width: 100%;
    padding: 11px;
    background: #ff8005;
    color: #fff;
    border: none;
    font-weight: 600;
    font-size: 20px
}

.addproduct input[type=file],
.addproduct input[type=text],
textarea {
    width: 100%;
    padding: 10px;
    margin: 0 0 40px;
    border: 1px solid;
    background: #fff;
    outline: 0;
    border-radius: 5px
}


img {
    width: 100%
}

.sm-siderbar {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0
}

.position {
    position: relative
}

.your-address {
    padding: 26px
}

.your-address h4 {
    font-size: 21px;
    margin: 25px 0;
    border-bottom: 1px solid #ccc;
    padding: 10px 0
}

.conatctus-form {
    border: 1px solid #ccc;
    padding: 26px
}

input.contactinput.w-100 {
    padding: 10px;
    margin: 17px 0;
    border: 1px solid #ccc;
    border-radius: 4px
}

iframe {
    width: 100%;
    height: 420px
}

.your-address h4 svg {
    color: #d07d2c;
    margin-right: 13px
}

.bg-warning.border-none {
    background: #d07d2c !important;
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    width: 30%;
    padding: 14px;
    border-radius: 8px
}

textarea.contactinput.w-100 {
    border: 1px solid #ccc
}

@media (max-width:575px) {
    section.restorant_page.p-5 h3 {
        font-size: 20px;
        padding: 15px 0px;
    }

    .col-lg-4.col-md-4.col-xs-6.col-sm-6.d-flex.justify-content-end,
    .col-lg-4.col-sm-6.col-xs-6.col-md-4.col-sm-12,
    .form {
        width: 33%
    }

    .shared-tab-heading ul li {
        font-size: 14px !important;
    }

    .product-description h5 {
        font-size: 17px !important;
    }

.shared-products .col-md-3.m-0.col.menubar.border.rounded-4.p-3 {
    padding: 10px !important;
    flex-basis: 47%;
}
    .ratings svg {
        font-size: 15px !important;
    }

    .product-description p {
        font-size: 12.83px !important;
    }

    p {
        font-size: 15.83px
    }

    .register-form h2 {
        font-size: 19px
    }

    section.register-section.p-5 {
        padding: 13px !important
    }

    .footer-logo {
        max-width: 100px
    }

    .register-form input[type=email],
    .register-form input[type=password],
    .register-form input[type=submit],
    .register-form input[type=text] {
        padding: 10px 13px;
        margin: 12px 0;
        position: relative
    }

    .register-form form ul li {
        font-size: 9px
    }

    .register-form input.register-btn {
        font-size: 15px;
        padding: 10px
    }

    .row.row-cols-lg-5.row-cols-sm-12 {
        display: block
    }

    .card-box {
        max-width: 245px;
        margin: 0 auto
    }

    .login-form {
        padding: 15px
    }

    input::placeholder {
        font-size: 15px
    }

    a.nav-link svg {
        font-size: 15px
    }

    .logo img {
        display: none
    }

    .form {
        position: absolute;
        top: 12px;
        left: 26%
    }

    .form-container label {
        margin: 32px 0 0;
        padding: 6px 0;
        font-size: 12px
    }

    section.login-section.p-5 {
        padding: 14px !important
    }

    .social-icons ul li {
        padding: 6px 9px
    }

    h2.text-center.login-heading {
        font-size: 26px
    }

    a.forgot {
        padding: 12px 0 11px;
        font-size: 13px
    }

    .form-container input[type=submit] {
        padding: 10px;
        font-size: 19px
    }

    form ul.d-flex.justify-content-between {
        padding: 29px 0;
        text-transform: capitalize
    }

    .social-icons ul {
        gap: 20px
    }

    form ul li {
        font-size: 10px
    }

    .form-container input[type=email],
    .form-container input[type=password] {
        border-bottom: 1px solid #ccc !important
    }

    section.contactus.p-5 {
        padding: 0 !important
    }

    .products-data .col.menubar {
        flex-basis: 100%;
        max-width: 210px;
        margin: 46px auto !important;
        padding: 10px !important;
    }

    section.about-sec.py-5 {
        padding: 20px 10px !important;
    }

    .d-flex.menu-btns button {
        width: auto
    }

    .about-content .col-6 {
        width: 100% !important;
        float: none;
        max-width: 100%
    }

    section.custom-section.p-5 .row .col-lg-4 {
        width: 100% !important
    }

    .your-address.my-3 {
        padding: 10px
    }

    .your-address h4 {
        font-size: 15px !important;
        padding: 13px;
        margin: 10px
    }
}

section.custom-section.p-5 .row .col-lg-4 {
    width: 33.33%
}

section.custom-section.p-5 .row .col.col-sm-6 {
    width: 49%;
}

.flex_box {
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    gap: 26px;
    width: 100%;
}

.products-data .col.menubar {
    background: #fff;
    border-radius: 25px;
    padding: 12px;
    margin-bottom: 60px;
    max-width: 240px;
}

.col.menubar {
    display: flex;
    flex-direction: column;
    flex-basis: 17%;
}

h2 {
    font-size: 49px;
    font-weight: 800;
    text-transform: uppercase
}

@media(min-width:1025px) and (max-width:1600px) {
    .products-data .col.menubar p.description {
        font-size: 15.83px;
        padding-bottom: 5px
    }
   
    section.service-section {
        padding: 50px 20px !important
    }

    section.custom-menu .flex_box {
        margin-top: 20px
    }

    h3 {
        font-size: 32px
    }

    h1 {
        font-size: 55px !important
    }

    h4 {
        font-size: 25.83px !important;
        font-weight: 500 !important
    }

    .customr_delicious {
        max-width: 846px !important
    }

    section.service-section .col-lg-4.foodie-sec .foodie img {
        max-width: 152px
    }

    section.service-section h4 {
        font-size: 22.83px
    }

    header ul.navbar-nav li.nav-item,
    p,
    section.custom-menu button.btn_primary {
        font-size: 15.83px
    }

    h6 {
        font-size: 29.83px;
        margin: 0
    }

    h2 {
        font-size: 30px
    }

    section.custom-popular li.prize {
        font-size: 16px;
        padding-bottom: 10px
    }

    section.custom-popular button.addtocart {
        font-size: 13px;
        padding: 5px 14px
    }

    section.custom-order h2.text {
        font-size: 66.321px
    }

    section.custom-popular .products-data .col.menubar {
        padding-bottom: 21px !important
    }

    .products-data .col.menubar {
        padding: 9px 10px !important;
        margin-bottom: 22px !important
    }

    section.custom-menu .dish-img img {
        margin-top: -70px;
        max-width: 106px
    }

    .card-box li.variety {
        font-size: 16px
    }

    .card-bx h3 {
        font-size: 24px
    }

    .card-bx button.addtocart {
        font-size: 14.315px;
        padding: 6px 13px
    }

    section.custom-popular .dish-img img {
        max-width: 109px;
        margin-top: -74px
    }

    section.checkout.p-5 .details form input[type=text] {
        padding: 5px
    }

    section.checkout.p-5 .order-box-2 input[type=text] {
        padding: 7px
    }

    section.checkout.p-5 .order-box-2 input[type=number] {
        padding: 7px;
        margin: 4px 0
    }

    div.order {
        margin-top: -3px !important
    }
}

h5 {
    font-size: 24px;
    font-weight: 700
}

button.btn.btn-success {
    background: #4f270b;
    border: none;
    border-radius: 0
}

.cartbtns,
.shared-products .flex_box {
    gap: 10px
}

.cart_empty {
    background: linear-gradient(45deg, #cb7929, #4f270b9e);
    padding: 30px 20px;
    text-align: center;
    border-radius: 10px
}

.cart_empty p {
    color: #fff;
    padding: 0;
    line-height: normal;
    margin: 0;
    font-size: 24px;
    font-weight: 500
}

section.page-not-found .error_img {
    max-width: 400px;
    margin: 0 auto
}

section.py-5.page-not-found {
    background: #f3f3f3
}

.product-img {
    height: 200px
}

.product-img img {
    height: 100%;
    width: 100%;
    object-fit: cover
}

.shared_order .shared-products .products-data .col.menubar {
    flex-basis: 24.4%
}

.shared-tab-heading {
    background: #cb7929;
}

.shared_order .shared-products .col.menubar {
    flex-basis: auto;
    max-width: 270px;
}
.filterstoggle img {
    max-width: 42px;
}
.filterstoggle {
    border-bottom: 1px solid #4f270b;
    padding: 20px 0px;
}
@media(min-width:992px) {
    .shared_order .shared-products .col.menubar {
        flex-basis: 23.4%;
    }
}

.shared-tab-heading ul li {
    padding: 11px;
}

.shared-tab-heading li.active {
    background: #fff;
    color: #000;
    border-radius: 5px;
}

.sidebar_inner ul li.active {
    background: #fff;
    padding: 10px;
}

.delivery_form .react-datepicker__input-container {
    position: static;
}

/* spinner.social-icons */

.content {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000000;
    animation: bg 1.4s cubic-bezier(0, 0.2, 0.8, 1);
}

@keyframes bg {
    0% {
        background: #000;
    }

    50% {
        background-color: #cb7929;
    }

    100% {
        background: #7b262b;
    }
}

.loading {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.loading div {
    position: absolute;
    background: #ffffff;
    opacity: 1;
    border-radius: 50%;
    animation: loading 1.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.loading div:nth-child(2) {
    animation-delay: -.7s;
}

@keyframes loading {
    0% {
        top: 28px;
        left: 28px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: -1px;
        left: -1px;
        width: 58px;
        height: 58px;
        opacity: 0;
    }
}


/* page not found */
.notfound.text-center h1 span {
    font-family: "Montserrat", sans-serif;
    color: #000;
    font-size: 243px;
    padding: 0px;
    letter-spacing: -7px;
}

.notfound.text-center h1 {
    line-height: normal;
    padding: 0;
    margin: 0;
}
@media(min-width:768px) and (max-width:1500px){
    section.contactus.p-5 {
        padding: 20px !important;
    }
    
    .your-address.my-3 {
        padding: 10px !important;
    }
    section.blogpage .grid-container {
        grid-template-columns: repeat(2, 48%);
    }
    .blogsidebar {
        padding: 10px !important;
    }
}
.contentblog h4 {
    font-size: 25px;
    padding: 13px 0px;
}

.contentblog button.btn.btn-primary {
    display: block;
    background: none;
    border: 2px solid #d07d2c;
    color: #000;
    padding: 9px 35px;
}

.contentblog {
    text-align: left;
}

.blogsidebar_inner ul li {
    display: flex;
    justify-content: space-between;
    color: #fff;
    gap: 13px;
    border: 1px solid #fff;
    padding: 10px;
    margin: 10px 0px;
}

.blogsidebar_inner ul li img {
    max-width: 60px;
    height: 54px;
    object-fit: contain;
}
.grid-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 32%);
}
  .grid-item {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: stretch;
}
@media(max-width:767px){
    section.blogpage {
        padding: 20px 0px !important;
    }
    
    .grid-container.align-items-center.overflow-hidden {
        grid-template-columns: repeat(1,100%);
    }
    .contentblog h4 {
        font-size: 18px;
    }
    section.blogpage .row {
        flex-direction: column-reverse;
    }
}
